* {
  padding: 8px;
  text-align: center;
  border-radius: 30px;
}

body {
  min-height: 80vh;
}

#monimage {
  margin: 0 auto;
  height: 200px;
}

.show {
  visibility: hidden;
}

.mouseEvent {
  border: 6px solid darkblue;
  width: 250px;
  position: absolute;
  left: 20%;
  transform: translateX(-50%);
  padding: 10px;
}

.themeContainer {
  position: fixed;
  top: 0;
}

.theme {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

#dark {
  background: black;
}

#salmon {
  background: salmon;
}

#yellow {
  background: yellow;
}

.darkTheme {
  background: black;
  color: white;
}

.salmonTheme {
  background: salmon;
  color: white;
}

.yellowTheme {
  background: yellow;
  color: black;
}
